html {
  font-size: 10px;
  background: url(img/background.jpg) center fixed;
  background-size: cover;
  
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.drumKit{
  background: rgba(255, 255, 255, 0.03);

  /*transform 水平垂直置中寫法*/
  // position: relative;
  // text-align: center;
  // min-height: 100vh;
  // min-width: 100vw;
}

.keys {
  /*flex水平垂直置中寫法，且有RWD效果*/
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  
  /*transform 水平垂直置中寫法*/
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 100%;
  // transform: translateX(-50%) translateY(-50%);
}

.key {
  // align-content: space-around;
  display: inline-block;
  width: 6em;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 1em #000000;
  margin: 1em;
  padding: 0.8em 0.5em;
  border: .3em solid black;
  border-radius: 1em;
  text-align: center;
}

kbd {
  display: block;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sound {
  margin: 5px; 
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}