<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/style.css")
  body
    .keys
      .key(data-key="65")
        kbd A
        .sound clap
      .key(data-key="83")
        kbd S
        .sound hihat
      .key(data-key="68")
        kbd D
        .sound kick
      .key(data-key="70")
        kbd F
        .sound openhat
      .key(data-key="71")
        kbd G
        .sound boom
      .key(data-key="72")
        kbd H
        .sound ride
      .key(data-key="74")
        kbd J
        .sound snare
      .key(data-key="75")
        kbd K
        .sound tom
      .key(data-key="76")
        kbd L
        .sound tink

    audio(data-key="65", src="../sounds/clap.wav")
    audio(data-key="83", src="../sounds/hihat.wav")
    audio(data-key="68", src="../sounds/kick.wav")
    audio(data-key="70", src="../sounds/openhat.wav")
    audio(data-key="71", src="../sounds/boom.wav")
    audio(data-key="72", src="../sounds/ride.wav")
    audio(data-key="74", src="../sounds/snare.wav")
    audio(data-key="75", src="../sounds/tom.wav")
    audio(data-key="76", src="../sounds/tink.wav")

  script