:root {
  //CSS變數用法，詳細可參考 http://muki.tw/tech/native-css-variables/
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
  --sepia: 0%;
}

img {
  //帶入CSS變數
  padding: var(--spacing);
  background: var(--base);

  //filter濾鏡使用，詳細可參考 https://www.w3schools.com/cssref/css3_pr_filter.asp
  filter: blur(var(--blur)) sepia(var(--sepia));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
}

body {
  background: #54B1F2;
  color: #FFFFFF;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 3px;
  h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  }
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}