<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Array Cardio Day 1
    link(rel="stylesheet", href="css/style.css")
  body
    div Q1. 篩選出於1500~1599年間出生的inventor(year in 1500-1599)
    div.A1 A1. 
    br
    div Q2. 將inventors內的first與last組合成一個陣列
    div.A2 A2.
    br
    div Q3. 依據生日由大至小排序所有的inventor
    div.A3 A3.
    br
    div Q4. 加總所有inventor的在世時間
    div.A4 A4.
    br
    div Q5. 依據年齡由大至小排序所有的inventor
    div.A5 A5.
    br
    div Q6. 列出wiki中巴黎所有包含'de'的路名(在wiki中透過querySelectorAll來選取資料作篩選)
    div.A6 A6.
    br
    div Q7. 依據lastName排序所有people的資料
    div.A7 A7.
    br
    div Q8. 分別計算data內每個種類的數量
    div.A8 A8.

  script(src="js/all.js")