<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Scoped CSS Variables and JS
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Update CSS Variables with 
      span.hl JS

    .controls
      label(for="spacing") Spacing:
      input#spacing(type="range", name="spacing", min="10", max="200", value="10", data-sizing="px")

      label(for="blur") Blur:
      input#blur(type="range", name="blur", min="0", max="25", value="0", data-sizing="px")

      label(for="sepia") Sepia:
      input#sepia(type="range", name="sepia", min="0", max="100", value="0", data-sizing="%")

      label(for="base") Base Color
      input#base(type="color", name="base", value="#ffc600")

    img(src="https://source.unsplash.com/7bwQXzbF6KE/800x500", alt="")

  script(src="js/all.js")